@import"../../stylesheet/main.scss";

.home-page {
    padding: 10px;

    .title {
        text-decoration: underline;
        margin-bottom: 30px;
        text-align: center
    }

    .form {
        text-align: center;

        input[type="text"] {
            width: 300px;
            border: 1px solid #dddddd;
            padding: 9px 10px;
            margin: 10px;
        }

        input[type="submit"] {
            border: none;
            background: #4a8484;
            color: #ffffff;
            padding: 10px 20px;
            margin: 10px;
        }

        .disabled {
            opacity: 0.4;
            cursor: not-allowed
        }
    }

}